﻿<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body id="hpb_cssonly">

    <div id="tasarim">
        <div id="ust">
            <table width="900" height="120" border="0" align="center" cellpadding="1" cellspacing="1">
                <tbody>
                    <tr> <td> <b>MOVIEZONE</b> </td> </tr>
                </tbody>
            </table>
        </div>
        <div id="ustmenu">
            <div id='cssmenu'>

                <ul>
                    <li><a href='#' _fcksavedurl='#'><span>Ana Sayfa</span></a></li>
                    <li><a href='#' _fcksavedurl='#'><span>Filmler</span></a></li>
                    <li><a href='#' _fcksavedurl='#'><span>En Çok İzlenenler</span></a></li>
                    <li><a href='#' _fcksavedurl='#'><span>Yorumlar</span></a></li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    <li><a href='#' _fcksavedurl='#'><span>Giriş Yap</span></a></li>
                    <li><a href='#' _fcksavedurl='#'><span>Üye Ol</span></a></li>
                </ul>
                @RenderBody()
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
