﻿
        #webme_sky_ad {
            position: absolute;
            right: 5px;
            top: 0px;
            z-index: 1000000000000000000;
        }

        #webme_footer_textlink_dont_hide {
            z-index: 10000;
            color: white;
            background-color: black;
        }

	   table 
       {
           margin-left: auto;
           margin-right: auto;

	   }        
       #webme_footer_textlink_dont_hide 
       {  
           font-family: 'Oswald', sans-serif;  
           background:none; 
           color: #949494;  
           font-size:12px; 

       } 
       textarea
       {     
           resize:none 

       }   
       h1#title
       {
           display: none;

       } 
       h2#title span 
       {
           display: none;

       }    
       div.header
       {
           display: none;

       } 
       li.nav_element
       {
           list-style-type: none;

       } 
       li.nav_element
       {
           display: none;

       } 
       body 
       {  
           margin:0;  
           padding:0;  
           width:100%;  
           color:#000000;  
           font:normal 13px/1.4em Arial, Helvetica, sans-serif;  
           background: url(http://img.webme.com/pic/b/belenmedia/filmv1arkatk.png)no-repeat fixed left bottom;    

       } 
       html, .main 
       {  
           padding:0;  
           margin:0; 

       } 
       .main { } 
       .clr 
       {  
           clear:both;  
           padding:0;  
           margin:0;  
           width:100%;  
           font-size:0;  
           line-height:0; 

       }  
       h1 
       {  
           margin:0;  
           padding:36px 0 36px 40px;  
           color:#feffff;  
           font:bold 40px/1.2em Arial, Helvetica, sans-serif;  
           letter-spacing:-2px; 

       } 
       h1 a, h1 a:hover 
       {  
           color:#feffff;  
           text-decoration:none; 

       } 
       h1 small 
       {  
           display:block;  
           padding-left:80px;  
           font:normal 12px/1.2em Arial, Helvetica, sans-serif;  
           color:#edf3f6;  
           letter-spacing:normal; 

       } 
       h2 
       {  
           font:normal 24px/1.5em Arial, Helvetica, sans-serif;  
           padding:8px 0;  
           margin:8px 0;  
           color:#323a3f; 

       } 
       p 
       {  
           margin:8px 0;  
           padding:0 0 8px 0;  
           font:normal 12px/1.8em Arial, Helvetica, sans-serif; 

       } 
       p.spec 
       {  
           text-align:left; 

       } 
       a 
       {  
           color:#0E16F0;  
           text-decoration:underline; 

       } 
       a.com { }    
       #taarim 
       {  
           margin-left: auto; 
           margin-right: auto;
           width: 828px; 
           margin-top: -20px; 
           padding-top: 20px; 
           padding-bottom: 20px; 
           padding-left:20px; 
           padding-right: 20px; 

       }  
       .logo
       {  
           border: 0px solid #ffffff; 
           margin-top: 10px; 
           margin-left; 

       }    
       a 
       {    
           font-size: 13px;   
           color:#C2241F;    
           text-decoration: none;     

       }   
       a:visited 
       {    
           font-size: 12px;    
           text-decoration: none;   

       }   
       a:hover 
       {    
           font-size: 13px;                              
           color:#000;     

       }  
       img
       { 
           border: 0px;  

       } #tasarim
         {   
             background:#F2F2F2 url(http://img.webme.com/pic/b/belenleegroup/pattern_38.png); 
             width:900px;  
             height:auto; 
             margin-left:auto; 
             margin-right:auto; 
             box-shadow: 0 0 4px #333;  

         }        
         #webme_sky_ad 
         {            
             position: absolute;          
             top: 180px;        

         }       
         #ust
         {
             margin-top:1px; 
             width:900px;  
             height:158px;   
             background: url(http://img.webme.com/pic/b/belenmedia/fv1ust.png)repeat;  
             color:#C2241F; 
             font-size:24px; 
             font-family: 'Dosis', sans-serif; 
             text-align:center; 
             margin-left:auto; 
             margin-right:auto; 
             clear:both;   

         }   
         .ustfilm
         {
             margin-top:20px;  
             width:205px;  
             height:210px;   
             background:  url(http://img.webme.com/pic/b/belenmedia/filmv1menu.jpg)center;  
             color:#ccc; 
             font-size:17px; 
             font-family: 'Oswald', sans-serif; 
             text-align:center; 
             margin-left:auto;
             margin-right:auto; 
             box-shadow: 0 2px 5px #000; 
             border-radius:3px; 
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s;  

         }   
         .ustfilm:hover
         { 
             color:#C2241F; 
             box-shadow: 0 0px 15px #000; 
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s;  

         }    
         #ustmenu
         {
             margin-top:15px;  
             width:896px;  
             height:50px;   
             background:  url(http://img.webme.com/pic/b/belenmedia/filmv1menu.jpg); 
             color:#888; 
             font-size:18px; 
             font-family: 'Raleway', sans-serif; 
             text-align:center; 
             margin-left:auto; 
             margin-right:auto; 
             clear:both; 
             box-shadow: 0 3px 10px #000; 
             border-radius: 2px;  

         }     
         #cssmenu 
         {   
             border: none;   
             border: 0px;  
             margin: 0px;   
             padding: 0px; 
             font-family: 'Oswald', sans-serif;    
             font-size: 16px;   
             font-weight: bold;   
             width: auto; 

         } 
         #cssmenu ul 
         {   
             background:none; #333333;   
             height: 40px;   
             list-style: none;   
             margin: 0;   
             padding: 0; 

         } 
         #cssmenu li 
         {   
             float: left;   
             padding: 0px; 
             margin-top: 5px; 
             border-right: 1px dashed #ccc; 

         } 
         #cssmenu li.last 
         {   
             float: left;   
             padding: 0px; 
             margin-top: 5px; 
             border-right: 0px dashed #ccc; 

         } 
         #cssmenu li a 
         {   
             background: none; url('seperator.gif') bottom right no-repeat;   
             display: block;   
             font-weight: normal;   
             line-height: 40px;   
             margin: 0px;   
             padding: 0px 23px;   
             text-align: center;   
             text-decoration: none; 
             font-size: 18px; 
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s;  

         } 
         #cssmenu > ul > li > a 
         {   
             color: #ccc; 

         } 
         #cssmenu ul ul a 
         {   
             color: #333;  

         } 
         #cssmenu li > a:hover, #cssmenu ul li:hover > a 
         {   
             background:none;#971818 url(http://img.webme.com/pic/b/blog-tasarimkurdu/uhmenu1.png) left no-repeat;   
             color: #C2241F;   
             text-decoration: none; 
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s; 

         }     
         #cssmenu li ul 
         {   
             background: #ECECEC;   
             display: none;   
             height: auto;   
             padding:  2px 5px 5px 2px;   
             margin-top: 0.5px;     
             position: absolute;   
             width: 225px;   
             z-index: 200;  
             border: 2px solid #7E2F51; 
             font-size: 16px; 

         } 
         #cssmenu li:hover ul 
         {   
             display: block; 

         } 
         #cssmenu li li 
         {   
             background: url('sub_sep.gif') bottom left no-repeat;   
             display: block;   
             float: none;   
             margin: 0px;   
             padding: 0px;   
             width: 225px; 

         } 
         #cssmenu li:hover li a 
         {   
             background: none; 

         } 
         #cssmenu li ul a 
         {   
             display: block;   
             height: 35px;   
             font-size: 14px;   
             font-style: normal;   
             margin: 0px;   
             padding: 0px 10px 6px 15px;   
             text-align: left; 

         } 
         #cssmenu li ul a:hover, #cssmenu li ul li:hover > a 
         {   
             background: #7E2F51 url(http://img.webme.com/pic/b/blog-tasarimkurdu/uhmenu.png) center left no-repeat;   
             border: 0px;   
             color: #ffffff;  
             text-decoration: none; 
             padding-left:20px;  
             font-size: 16px; 

         } 
         #cssmenu p 
         {   
             clear: left; 

         }   
         #ustkate
         {
             margin-top:15px;  
             width:900px;  
             height:130px;   
             background: url(http://img.webme.com/pic/b/belenmedia/filmv1kattk.png)repeat;  
             color:#888; 
             font-size:18px; 
             font-family: 'Raleway', sans-serif; 
             text-align:center; 
             margin-left:auto; 
             margin-right:auto; 
             clear:both;   

         }  
         #ustkate a
         { 
             background:#C2241F;  
             color:#fff; 
             font-size:17px; 
             box-shadow: 0 3px 5px #000; 
             border-radius:3px; 
             line-height:40px; 
             font-family: 'Oswald', sans-serif; 
             padding-top:4px; 
             padding-bottom:4px; 
             padding-left:8px; 
             padding-right:8px; 
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s;  

         } 
         #ustkate a:hover
         { 
             background:#fff;  
             color:#C2241F;  
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s;   

         }       
         #icerik 
         {
             margin-top:15px;  
             width:890px;  
             height:auto; 
             background:none; url(http://img.webme.com/pic/b/belenmedia/filmicbas.png)repeat-x top;  
             color:#333333; 
             font-size:13px;     
             font-family: "Varela Round", sans-serif; 
             margin-left:auto; 
             margin-right:auto; 
             overflow:hidden; 
             border:1px dashed #888; 
             border-radius:3px; 

         }   
         #icerik2
         {
             margin-top:-55px;  
             width:886px;  
             height:auto;  
             color:#333333; 
             background:none; 
             margin-left:auto; 
             margin-right:auto;

         }   
         .anafilm
         {
             margin-top:20px;  
             width:270px;  
             height:177px;   
             background:  url(http://img.webme.com/pic/b/belenmedia/filmarkatkv1.png)no-repeat center;  
             color:#ccc; 
             font-size:17px; 
             font-family: 'Oswald', sans-serif; 
             text-align:center; 
             margin-left:10px; 
             margin-bottom:20px; 
             float:left; 
             padding-left:10px; 
             border-radius:3px; 
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s;  

         }  
         .anafilm:hover
         { 
             color:#C2241F;  
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s;  

         }  
         .anafilm img
         {  
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s;  

         }  
         .anafilm img:hover
         {   
             opacity: 0.4;     
             filter: alpha(opacity=40);  
             -webkit-transition: all 0.3s ease-in-out 0s;     
             -moz-transition: all 0.3s ease-in-out 0s;     
             -o-transition: all 0.3s ease-in-out 0s;     
             -ms-transition: all 0.3s ease-in-out 0s;  

         }    
         #alt
         {  
             width:900px;  
             height:50px;   
             background:  url(http://img.webme.com/pic/b/belenmedia/filmv1alt.png);  
             color:#ACACAC; 
             margin-top:10px; 
             margin-bottom:15px; 
             margin-left:auto; 
             margin-right:auto; 
             font-size:13px;  
             font-family: 'Oswald', sans-serif; 
             letter-spacing:1px;  

         }          
         #alt a
         { 
             color:#B6B6B6; 
             font-size:13px;     
             font-family: 'Oswald', sans-serif; 
             letter-spacing:0px;  

         }  
         #alt a:hover
         { 
             color:#000; 
             font-size:13px; 
             letter-spacing:0px;       
             font-family: 'Oswald', sans-serif;   

         }   
 
         ::-moz-selection 
         {     
             background:#111111;     
             color:#fff; 

         } 
         ::selection 
         {     
             background:#111111;     
             color:#fff; 

         }
