﻿<h2>@ViewBag.Title.</h2>

<address>
    <font color="red">
    İstiklal Mahallesi 390. Sokak </br>
    Serdivan - SAKARYA </br>
    2642674825
    </font>
</address>

<address>
    <strong>Email:</strong> <a href="mailto:betulcetin@hotmail.com">betulcetin@hotmail.com</a></br>
</address>
