﻿@{ 
    ViewBag.Title = "Home Page";
}

<table width="900" height="215" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td align="left">
                <div class="ustfilm">
                    <table width="190" height="209" border="0" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/StarWars.jpeg" width="200" height="175" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;">Star Wars Return Of The Jedi</td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="ustfilm">
                    <table width="190" height="209" border="0" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/interstellar.jpg" width="200" height="175" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;">Interstellar</td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="ustfilm">
                    <table width="190" height="209" border="0" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/tamammiyiz.jpg" width="200" height="175" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;">Tamam Mıyız?</td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td>
                <div class="ustfilm">
                    <table width="190" height="209" border="0" align="center" cellpadding="1" cellspacing="1">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" height="175">
                                    <a href="#" _fcksavedurl="#"><img src="~/Content/img/YüzüklerinEfendisi.jpg" width="200" height="175" alt="" /></a>
                                </td>
                            </tr>
                            <tr> <td style="text-align: center;">Lord Of The Rings The Fellowship Of The Ring</td> </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div id="ustkate">
    <table width="900" height="130" border="0" align="center" cellpadding="1" cellspacing="1">
        <tbody>
            <tr>
                <td>
                    <table width="890" height="80" border="0" align="center" cellpadding="2" cellspacing="1">
                        <tbody>
                            <tr>
                                <td><a href="#" _fcksavedurl="#">Aile</a></td>
                                <td><a href="#" _fcksavedurl="#">Aksiyon</a></td>
                                <td><a href="#" _fcksavedurl="#">Animasyon</a></td>
                                <td><a href="#" _fcksavedurl="#">Belgesel</a></td>
                                <td><a href="#" _fcksavedurl="#">Dram</a></td>
                                <td><a href="#" _fcksavedurl="#">Komedi</a></td>
                                <td><a href="#" _fcksavedurl="#">Bilim Kurgu</a></td>
                            </tr>
                            <tr>
                                <td><a href="#" _fcksavedurl="#">Korku</a></td>
                                <td><a href="#" _fcksavedurl="#">Fantastik</a></td>
                                <td><a href="#" _fcksavedurl="#">Gerilim</a></td>
                                <td><a href="#" _fcksavedurl="#">Macera</a></td>
                                <td><a href="#" _fcksavedurl="#">Polisiye</a></td>
                                <td><a href="#" _fcksavedurl="#">Romantik</a></td>
                                <td><a href="#" _fcksavedurl="#">Çizgi Film</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container body-content">
     <hr />
          <footer>
                 <p>&copy; @DateTime.Now.Year</p>
          </footer>
    </div>
</div>
